:root {
  --primary-: #5a58f7;
  --secondary-: #04213e;
  --success-: #7eed1c;
  --info-: #03b2fd;
  --warning-: #fff100;
  --danger-: #640505;
  --red-: #ff0000;
  --gray-: #b6b1b1;
  --dark-: #151515;
  --white-: #fff;

  --primary-theme: #cfe9f4;
  --dark-theme: #161717;
  --light-theme: #fff;
}
